.navbar-light .navbar-nav .nav-link {
    color: rgb(64, 64, 64);
}
.btco-menu li > a {
    padding: 10px 15px;
    color: #000;

}

.btco-menu .active a:focus,
.btco-menu li a:focus ,
.navbar > .show > a:focus{
    background: transparent;
    outline: 0;
}


.dropdown-menu .show > .dropdown-toggle::after{
    transform: rotate(-90deg);
}

/* .dropdown:hover .dropdown-menu {
    display: block;
} */

.pagination{
    margin-bottom: 0px !important;
}

/* Bootstrap Toggle v2.2.2 corrections for Bootsrtap 4*/
.toggle-off {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}

.content-wrapper {
    margin-left: 0 !important;
}

.btn-group-xs > .btn, .btn-xs {
    padding  : .4rem;
    font-size  : .875rem;
    line-height  : .5;
    border-radius : .2rem;
}

.chart-container {
    width: 400px;
    height: 800px;
}

.text-uppercase {
    text-transform: uppercase;
}