table tbody tr td {
  font-size: 1rem;
}

.parametro-relatorio {
  font-size: 0.8rem;
  text-transform: none !important;
}

.report_data {
  font-size: 1rem;
  text-transform: none !important;
}

.report_contacts {
  float: left;
  margin-right: 20px;
}

@media print {
  #print-command-panel {
    display: none;
  }

  #btn-report-print {
    display: none;
  }

  #btn-report-print {
    display: none;
  }
}

.report-subtitle-1 {
  background-color: #d9edf7;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  color: #3e3f3a !important;
  text-transform: none !important;
  padding: 5px !important;
  border-bottom: 1px solid #dfd7ca;
}

.report-content-title {
  background-color: transparent;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  color: #3e3f3a !important;
  text-transform: none !important;
  padding: 5px !important;
}

.card-body {
  padding: 5px !important;
}

table {
  margin-bottom: 0 !important;
}

table thead tr td {
  font-size: 0.8rem;
}

table tbody tr td {
  font-size: 0.8rem;
}

.nf-label {
  margin-bottom: 2px !important;
  font-size: 0.9em !important;
  font-variant-caps: all-petite-caps;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

.nf-panel {
  padding: 2px 4px;
  margin: 0px -15px;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.o-h {
  overflow: hidden;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }

  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }
}

